.header {
    width: 100%;
    height: 70px;

    background: #e7e7e7;


    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 25px;

    box-sizing: border-box;

    position: fixed;
    top: 0;
    left: 0;

    z-index: 999;
}


.menu {
    font-size: 45px;
    color: #666;
}

.about {
    font-size: 25px;
    color: #666;
    margin-left: 50%;
}

.search {
    font-size: 45px;
    color: #666;
}

.side-menu {

    position: fixed;

    top: 0;
    left: -320px;

    width: 280px;
    height: 100vh;

    background: rgba(0, 0, 0, 0.96);

    backdrop-filter: blur(10px);

    z-index: 99999;

    padding: 80px 30px;

    box-sizing: border-box;

    transition: 0.4s;
}


.side-menu a {

    display: block;

    color: #18ce00;

    text-decoration: none;

    font-size: 28px;

    margin-bottom: 30px;
}


.close-btn {

    position: absolute;

    top: 20px;
    right: 25px;

    color: white;

    font-size: 28px;

    cursor: pointer;
}

.side-menu {

    position: fixed;

    top: 75px;
    left: -260px;

    width: 240px;

    background: rgb(204, 0, 0);

    padding: 20px;

    transition: 0.3s;

    z-index: 9999;
}


.side-menu a {

    display: block;

    color: #39ff14;

    text-decoration: none;

    font-size: 22px;

    margin-bottom: 20px;
}